.cart{
  margin: 1.5% 0.8%;
  padding: 0;
  width: 225px;
  font-size: 1.2em;


  a{
    text-decoration: none;
  }

  &__avatar{
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  &__description{
    font-size: inherit;
    line-height: 1.2em;
  }
}
