$color-blue-active: #00A4E2;
$color-white: #fff;
$list-blue:#0698dd;

$background-blue:#00aeef;
$background-blue-hover:#0076a3;
$background-white:#ddf0f9;
$background-panel-left: #c7e6f5;

%margin-botton{
  border-bottom: 5px solid $background-blue;
}

%submenu-background{
  background: $background-white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0 7vw 0 7.5vw;
  height: 50px;
  overflow: hidden;
  background: $background-blue;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  display: flex;
  flex-direction: row;

  &__navItem {
    font-size: 12px;
    color: $color-white;
    overflow: visible;

    a {
      text-decoration: none;
      padding: 1vw 0.3vw 1vw 0.7vw;
      line-height: 50px;
      color: inherit;
    }

    &:hover {
      background-color: $background-blue-hover;
      color: $color-white;
    }

    &.active{
      transform: scale(5px);
      background: $background-white;
      color: $color-blue-active;
    }



    &--home {
      font-size: 1.8vw;
      font-weight: 900;
      padding: 0 0.8vw 0 0;
      overflow: hidden;

      &:hover{
        background: $background-white;
        color: $color-blue-active;
      }
    }
  }
}

.subMenu {
  position: absolute;
  left: 7.5vw;
  top: 50px;
  height: 290px;
  width: 85.5vw;
  text-align: center;
  color: #000;
  z-index: 0;
  overflow: hidden;
  display: none;

  .panel__left{
    width: 11.7%;
    background: $background-panel-left;

    .side__list{
      padding: 15px 30px 0 0;
      text-align: right;
      font-size: 1.4em;
      font-weight: bold;
      color: $list-blue;
      line-height: 1.7em;
    }
  }
  .panel__right{
    width: 80%;
    display: flex;
  }

  @extend %margin-botton;
  @extend %submenu-background;
}

.follow_submenu{
  position: absolute;
  display: none;
  left: 81.3vw;
  top: 50px;
  height: 245px;
  width: 13vw;
  color: black;
  line-height: 2;

  @extend %margin-botton;
  @extend %submenu-background;
}

.open{
  display: flex;
}

.marginLeftAuto {
  margin-left: auto;
}

.iconsDiv {
  line-height: 55px;
  padding: 0 15px;
}

.icons {
  vertical-align: text-bottom;

  &__DD {
    font-size: 14px;
    margin-right: 10px;
  }

  &__panel {
    font-size: 1.2rem;
  }

  &__search{
    width: 30px;
  }
}


.navSearch {
  position: absolute;
  left: 43.4vw;
  top: 50px;
  height: 60px;
  width: 45vw;
  text-align: center;
  border-style: none none solid none;
  display:none;

  &.open{
    display: block;
  }

  & form {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 10px 7px;
    border: none;
    border-bottom: 5px solid $background-blue;

    & > input {
      width: 82%;
      border: none;
      padding-left: 10px;
    }

    & > button {
      width: 15%;
      border: none;
      background: $background-blue;
      color: $background-white;
    }
  }

  @extend %margin-botton;
  @extend %submenu-background;
}
/* cuando se completa el search #ddf0f9 */


.ml-30 {
  margin-left: 30px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}
