.nav {
  list-style-type: none;
  margin: 0;
  padding: 0 5.8vw 0 6vw;
  overflow: hidden;
  background: #00aeef;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  display: flex;
  flex-direction: row;

  &__navItem {
    font-size: 14px;
    color: white;
    overflow: visible;
  }

  &__navItem a {
    text-decoration: none;
    padding: 18px 16px;
    line-height: 60px;
    margin: 0 0 10px 0;
    color: inherit;
  }

  &__navItem:hover {
    background-color: #ddf0f9;
    color: #00aeef;
  }

  &__navItem--home {
    font-size: 40px;
    font-weight: 900;
    padding: 0 10px 0 0;
    overflow: hidden;
  }
}

.navContent {
  position: absolute;
  left: 5vw;
  top: 60px;
  height: 400px;
  width: 90vw;
  text-align: center;
  font-size: 10vw;
  color: #000;
  z-index: 0;
  overflow: hidden;
}

.marginLeftAuto {
  margin-left: auto;
}

.DDicons {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 5px;
}

.navSearch {
  position: absolute;
  left: 46.5vw;
  top: 60px;
  height: 75px;
  width: 39vw;
  text-align: center;
  background-color: #ddf0f9;
  border-style: none none solid none;

  &__navSearch form {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
  }
}
/* cuando se completa el search #ddf0f9 */

.ml-30 {
  margin-left: 30px;
}
